body{color:brown;
    background-color: rgb(74, 63, 50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.bagels{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:bisque;
    border: #ffffff solid;
    margin:5 px, auto;
    padding: 0;}   

.xtra{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
    border:4px brown solid;
    margin:5 px, auto;
    padding: 0;}
.sandwich{font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: antiquewhite;
        border: black solid;
        margin:5 px, auto;
        padding:0;
    }
.liquids{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:aquamarine;
        border: 4px green solid;
        margin: 5 px, auto;
        padding: 0;}
